@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

@layer components {
  .button {
    @apply text-center text-white bg-black rounded-xl py-2.5 w-full hover:shadow-xl disabled:bg-slate-500 disabled:shadow-md transition-all ease-linear disabled:cursor-not-allowed;
  }

  .itmContent {
    transition: height 0.25s cubic-bezier(0, 0, 0, 1);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .app {
    background: linear-gradient(180deg, #5433ff -73.61%, #20bdff 57.57%, #a5fecb 174.12%);
  }
}
